.padding-on {
    padding-top: 5rem;
}

.padding-all {
    padding: 1rem 1rem;
}

#starter-image {
    min-height: 400px;
}


/* Slider */

.slider {
    width: 300%;
    height: 100%;
    text-align: center;
}

#slide1,
#slide2,
#slide3 {
    width: 33.33333333333333%;
    height: 100%;
    float: left;
}

@media only screen and (max-width: 900px) {
    .slider {
        font-size: 25px;
    }
    #slide1 {
        padding-top: 65px;
    }
    #slide2 {
        padding-top: 45px;
    }
    #slide3 {
        padding-top: 24px;
    }
    .android-slogan {
        padding-top: 75px;
    }
}

@media only screen and (max-width: 600px) {
    .slider {
        font-size: 15px;
    }
    #slide1 {
        padding-top: 65px;
    }
    #slide2 {
        padding-top: 45px;
    }
    #slide3 {
        padding-top: 24px;
    }
}

@media only screen and (max-width: 300px) {
    .slider {
        font-size: 8px;
    }
}

@media only screen and (max-height: 300px) {
    .slider {
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    #slide1,
    #slide2,
    #slide3 {
        padding-top: 60px;
    }
}

.post-img {
    width: 100%;
}