<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Культурный Центр имени Георгия Буркова</title>

    <!-- Custom Fonts -->
    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.min.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body id="page-top">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <div class="android-header mdl-layout__header mdl-layout__header--waterfall">
            <div class="mdl-layout__header-row">

                <span class="android-title mdl-layout-title">
            <a href="{{ site.baseurl }}/#"> <img class="android-logo-image" src="https://scontent.fhen1-1.fna.fbcdn.net/v/t1.0-9/1511175_1624627644420937_1942293684602053247_n.jpg?oh=e048556aaad0181c059465a808202f8a&oe=591F2335">
            </a>
          </span>
                <!-- Add spacer, to align navigation to the right in desktop -->
                <div class="android-header-spacer mdl-layout-spacer"></div>
                <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">


                </div>
                <!-- Navigation -->
                <div class="android-navigation-container">
                    <nav class="android-navigation mdl-navigation">
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ site.baseurl }}/who.html">Кто мы</a>
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ site.baseurl }}/whatWeDo.html">Что мы делаем</a>
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ site.baseurl }}/about.html">О Нас</a>
                        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ site.baseurl }}/blog.html">Новости</a>
                    </nav>
                </div>


            </div>
        </div>

        <div class="android-drawer mdl-layout__drawer">
            <span class="mdl-layout-title">
                <a href="{{ site.baseurl }}/#">
          <img class="android-logo-image" src="https://scontent.fhen1-1.fna.fbcdn.net/v/t1.0-9/1511175_1624627644420937_1942293684602053247_n.jpg?oh=e048556aaad0181c059465a808202f8a&oe=591F2335">
                </a>
        </span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{{ site.baseurl }}/who.html">Кто мы</a>
                <a class="mdl-navigation__link" href="{{ site.baseurl }}/whatWeDo.html">Что мы делаем</a>
                <a class="mdl-navigation__link" href="{{ site.baseurl }}/about.html">О Нас</a>
                <a class="mdl-navigation__link" href="{{ site.baseurl }}/blog.html">Новости</a>

            </nav>
        </div>
        {{ content }}

        <footer class="android-footer mdl-mega-footer">
            <div class="mdl-mega-footer--top-section">
                <div class="mdl-mega-footer--middle-section">
                    <button class="mdl-mega-footer--social-btn"></button> &nbsp;
                    <button class="mdl-mega-footer--social-btn"></button> &nbsp;
                    <button class="mdl-mega-footer--social-btn"></button>
                </div>
                <div class="mdl-mega-footer--right-section">
                    <a class="mdl-typography--font-light" href="#top">
                Back to Top
                <i class="material-icons">expand_less</i>
              </a>
                </div>
            </div>
        </footer>
        <!-- Bootstrap Core JavaScript -->
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <!-- jQuery -->
        <script src="{{ site.baseurl }}/js/jquery.js"></script>

        <script src="{{ site.baseurl }}/js/index.js"></script>


        <!-- Plugin JavaScript -->
    </div>
</body>

</html>